body{
    resize: both;
    max-width: 900px;
    margin-left: 22%;
    align-content: center;
    border-style: solid;
    border-color: lightgray;
}

h1 {
    margin-left: 50px;
    color: darkblue;
}

h2 {
    height: 30px;
    background-color: yellowgreen;
}

.h3{
    color: darkblue;
    font-weight: bolder;
    font-size: 2em;
}

footer {
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    vertical-align: middle;
    position: relative;
    background-color: yellowgreen;
    color: darkblue;
    text-align: center;
    font-size: 33px;
    font-weight: bolder;
}

.Column{
    float: left;
    width: 33%;
}

.ColumnAfter{
    width: 60%;
    float: left;
}

.Row:after {
    content: "";
    display: block;
    clear: both;
}

.ColumnForm{
    float: left;
    width: 28%;
}

.ColumnFormTop{
    float: left;
    width: 60%;
}

.ColumnFormImage{
    float: left;
    width: 10%;
}

.ColumnFormHelp{
    width: 5%;
    height: 515px;
    float: left;
}

.ColumnFormAfter {
    width: 60%;
    float: left;
}

.ColumnFormLeft{
    width: 72%;
    float: left;
}

.Font {
    color: blue;
    font-size: 1.2em;
}

.RowForm:after {
    content: "";
    display: block;
    clear: both;
}

.TitleCard {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    color: white;
    background-color: yellowgreen;
    width: 100%;
}

.DropDownList{
    width: 180px;
}

.TextBoxLong{
    width: 250px;
}

.TextBoxSecurity{
    width: 60px;
}

.TextBoxMedium{
    width: 160px;
}

.form{
    width: 540px;
    background-color: #f0bb75;
}

.ParaHeight{
    padding-bottom: 0.08em;
    padding-top: 0.1em;
}

.FlowerImage{
    margin-left: 25px;
    height: 240px;
    width: 200px;
}

.VisaImage{
    border: 1px solid darkgray;
    padding-top: 1.7em;
    padding-bottom: 1.7em;
    vertical-align: bottom;
    width: 80px;
    height: 18px;
    position: relative;
    top: 52px;
    left: -1px;
}

.BottomImage{
    width: 30px;
    height: 30px;
}
.pay
{
    padding-top: 40px;
    margin-top: 200px;
    align-items: center;
    margin-left:190px;

    margin-bottom:120px;
}

#PayImage{
    float: right;
    width:10%;
    height: 10%;
}

.ButtonPosition{
    float:right;
    margin-bottom:20%;
}

hr {
    height: 2px;
    background-color: yellowgreen;
    width: 100%;
    margin-left: -5px;
}

.Pay {
    Height: 48px;
    Width: 153px;
}

.Label {
    color: darkblue;
    font-size: 2em;
}

.HelpFirst{
    margin-top: 250px;
}

.HelpSecond{
    margin-top: 210px;
}

as{
    color: black;
}
